# .gitignore

# Project specific structure
/target/

# IDE Files
/.classpath
/.externalToolBuilders/
/.project
/.settings/
/.pydevproject

# Droppings
*.class
*.pyc
*.pyd
*.pyo
*.orig
*.rej
*.swp
*.tmp
\#*
*~

