# .gitignore

# Project specific structure
/target/
/temp/

# IDE Files
/.classpath
/.externalToolBuilders/
/.project
/.settings/
/.pydevproject

# Droppings
*.class
*.log
*.pyc
*.pyd
*.pyo
*.orig
*.rej
*.saved
*.swp
*.tmp
\#*
*~

